openapi: 3.1.0
info:
  title: Celine Server Private GPT Action Gateway
  version: 0.4.0
  description: Private read, dry-run, approved Jira write, and approved-test GPT Action gateway for Ken. Requires CELINE_ACTION_TOKEN. Jira write routes require dry-run first and approvalText exactly equal to "Ken approved this Jira write". No shell execution or arbitrary command execution.
servers:
  - url: https://action-celine.thecreatorsmark.org
security:
  - celineActionBearer: []
paths:
  /gpt-action/private/health:
    get:
      operationId: getPrivateGatewayHealth
      summary: Get private gateway health.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/status:
    get:
      operationId: getPrivateGatewayStatus
      summary: Get private gateway status and capability summary.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/projects:
    get:
      operationId: getPrivateProjects
      summary: Get Celine project registry.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/tools:
    get:
      operationId: getPrivateTools
      summary: Detect local development tools using fixed checks only.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/system:
    get:
      operationId: getPrivateSystem
      summary: Get basic system/runtime facts without env values.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/apps:
    get:
      operationId: getPrivateInstalledApps
      summary: List installed macOS app bundles. Does not open apps.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/workspace/moth-market:
    get:
      operationId: getPrivateMothMarketWorkspace
      summary: Get Moth Market workspace config. Does not open apps or URLs.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/notifications:
    get:
      operationId: getPrivateNotificationStatus
      summary: Get notification status without secrets.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/notifications/events/recent:
    get:
      operationId: getPrivateRecentNotificationEvents
      summary: Get recent notification events without secrets.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/notifications/test:
    post:
      operationId: sendPrivateTestNotification
      summary: Send one explicit test notification.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string, default: Celine Server }
                message: { type: string, default: Private GPT Action notification test. }
                severity:
                  type: string
                  enum: [silent, low, normal, high]
                  default: normal
      responses: { "200": { description: OK }, "401": { description: Unauthorized }, "502": { description: Provider failed } }
  /gpt-action/private/assistant/jobs/catalog:
    get:
      operationId: getPrivateAssistantJobCatalog
      summary: Get Assistant Bridge job catalog.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/assistant/logs/recent:
    get:
      operationId: getPrivateAssistantLogs
      summary: Get recent Assistant Bridge audit events.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/assistant/jobs/dry-run:
    post:
      operationId: dryRunPrivateAssistantJob
      summary: Dry-run an Assistant Bridge job. Does not execute jobs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jobType: { type: string }
              required: [jobType]
      responses: { "200": { description: OK }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/assistant/jobs:
    post:
      operationId: queuePrivateAssistantJobPlaceholder
      summary: Queue an in-memory Assistant Bridge placeholder. Does not execute jobs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jobType: { type: string }
              required: [jobType]
      responses: { "200": { description: OK }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/launcher:
    get:
      operationId: getPrivateLauncherStatus
      summary: Get launcher status. Does not launch apps.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/launcher/apps:
    get:
      operationId: getPrivateLauncherApps
      summary: Get allowlisted launcher apps. Does not launch apps.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/launcher/logs/recent:
    get:
      operationId: getPrivateLauncherLogs
      summary: Get recent launcher logs.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/launcher/open-any/status:
    get:
      operationId: getPrivateOpenAnyStatus
      summary: Get open-any status. Does not open apps.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/launcher/open-any/events/recent:
    get:
      operationId: getPrivateOpenAnyEvents
      summary: Get recent open-any audit events.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/forge-key:
    get:
      operationId: getPrivateForgeKeyStatus
      summary: Get Forge Key status. Does not enable or disable Forge Key.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/forge-key/events/recent:
    get:
      operationId: getPrivateForgeKeyEvents
      summary: Get recent Forge Key events.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/audit/recent:
    get:
      operationId: getPrivateRecentAudit
      summary: Get combined recent audit events.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/obsidian/vault/list:
    post:
      operationId: listPrivateObsidianVaultPath
      summary: List an Obsidian vault folder.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                path: { type: string, default: / }
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/obsidian/vault/read:
    post:
      operationId: readPrivateObsidianVaultNote
      summary: Read an Obsidian vault note by path.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                path: { type: string }
              required: [path]
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/obsidian/vault/search:
    post:
      operationId: searchPrivateObsidianVault
      summary: Search Obsidian vault notes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query: { type: string }
                contextLength: { type: number, default: 200 }
              required: [query]
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/obsidian/vault/active:
    get:
      operationId: getPrivateObsidianActiveNote
      summary: Get active Obsidian note.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/scrivener/list:
    post:
      operationId: listPrivateScrivenerDocuments
      summary: List Scrivener binder documents.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                folder: { type: string, default: Manuscript }
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/scrivener/read:
    post:
      operationId: readPrivateScrivenerDocument
      summary: Read a Scrivener document by title or UUID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                titleOrUuid: { type: string }
              required: [titleOrUuid]
      responses: { "200": { description: OK }, "401": { description: Unauthorized }, "404": { description: Not found } }
  /gpt-action/private/jira/issues/{key}:
    get:
      operationId: getPrivateJiraIssue
      summary: Read a Jira issue through the local Atlassian CLI.
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      responses: { "200": { description: OK }, "400": { description: Bad request }, "401": { description: Unauthorized }, "503": { description: Jira CLI not authenticated } }
  /gpt-action/private/jira/issues/{key}/children:
    get:
      operationId: getPrivateJiraIssueChildren
      summary: Read Jira child issues/subtasks through the local Atlassian CLI.
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      responses: { "200": { description: OK }, "400": { description: Bad request }, "401": { description: Unauthorized }, "503": { description: Jira CLI not authenticated } }
  /gpt-action/private/jira/subtasks/dry-run:
    post:
      operationId: dryRunPrivateJiraSubtasks
      summary: Validate and echo intended Jira subtask payload. Uses Jira CLI to validate the parent issue when authenticated. Does not create issues.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parentKey: { type: string }
                subtasks:
                  type: array
                  items: { type: string }
              required: [parentKey, subtasks]
      responses: { "200": { description: Dry-run payload }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/jira/issues/dry-run-create:
    post:
      operationId: dryRunPrivateCreateJiraIssue
      summary: Preview Jira issue creation. Does not create an issue.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project: { type: string }
                type: { type: string, default: Task }
                summary: { type: string }
                description: { type: string }
                parent: { type: string }
                assignee: { type: string }
                labels:
                  type: array
                  items: { type: string }
              required: [project, type, summary]
      responses: { "200": { description: Preview }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/jira/issues/create:
    post:
      operationId: createPrivateJiraIssueWithApproval
      summary: Create a Jira issue only after Ken approves the preview. Requires approvalText exactly equal to "Ken approved this Jira write".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvalText: { type: string }
                project: { type: string }
                type: { type: string, default: Task }
                summary: { type: string }
                description: { type: string }
                parent: { type: string }
                assignee: { type: string }
                labels:
                  type: array
                  items: { type: string }
              required: [approvalText, project, type, summary]
      responses: { "200": { description: Created }, "403": { description: Approval required }, "401": { description: Unauthorized }, "503": { description: Jira CLI unavailable } }
  /gpt-action/private/jira/issues/{key}/dry-run-edit:
    post:
      operationId: dryRunPrivateEditJiraIssue
      summary: Preview Jira issue edits. Does not mutate Jira.
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                summary: { type: string }
                description: { type: string }
                assignee: { type: string }
                type: { type: string }
                labels:
                  type: array
                  items: { type: string }
                removeAssignee: { type: boolean }
                removeLabels:
                  type: array
                  items: { type: string }
      responses: { "200": { description: Preview }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/jira/issues/{key}/edit:
    post:
      operationId: editPrivateJiraIssueWithApproval
      summary: Edit a Jira issue only after Ken approves the preview. Requires approvalText exactly equal to "Ken approved this Jira write".
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvalText: { type: string }
                summary: { type: string }
                description: { type: string }
                assignee: { type: string }
                type: { type: string }
                labels:
                  type: array
                  items: { type: string }
                removeAssignee: { type: boolean }
                removeLabels:
                  type: array
                  items: { type: string }
              required: [approvalText]
      responses: { "200": { description: Edited }, "403": { description: Approval required }, "401": { description: Unauthorized }, "503": { description: Jira CLI unavailable } }
  /gpt-action/private/jira/issues/{key}/comments/dry-run:
    post:
      operationId: dryRunPrivateJiraComment
      summary: Preview a Jira comment. Does not add the comment.
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body: { type: string }
              required: [body]
      responses: { "200": { description: Preview }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/jira/issues/{key}/comments:
    post:
      operationId: createPrivateJiraCommentWithApproval
      summary: Add a Jira comment only after Ken approves the preview. Requires approvalText exactly equal to "Ken approved this Jira write".
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvalText: { type: string }
                body: { type: string }
              required: [approvalText, body]
      responses: { "200": { description: Comment added }, "403": { description: Approval required }, "401": { description: Unauthorized }, "503": { description: Jira CLI unavailable } }
  /gpt-action/private/jira/subtasks/dry-run-create:
    post:
      operationId: dryRunPrivateCreateJiraTicketsBatch
      summary: Preview batch Jira ticket creation. Supports Epic, Story, Task, Bug, and Sub-task. Sub-task items require parentKey. Does not create tickets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project: { type: string }
                parentKey: { type: string, description: Optional default parent key for Sub-task items. }
                subtasks:
                  deprecated: true
                  description: Legacy shorthand for Sub-task summaries.
                  type: array
                  items: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [Epic, Story, Task, Bug, Sub-task, user-story, subtask]
                      summary: { type: string }
                      description: { type: string }
                      parentKey: { type: string }
                      assignee: { type: string }
                      labels:
                        type: array
                        items: { type: string }
                    required: [type, summary]
              required: [project]
      responses: { "200": { description: Preview }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/jira/subtasks/create:
    post:
      operationId: createPrivateJiraTicketsBatchWithApproval
      summary: Batch-create Jira tickets only after Ken approves the preview. Supports Epic, Story, Task, Bug, and Sub-task. Requires approvalText exactly equal to "Ken approved this Jira write".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvalText: { type: string }
                project: { type: string }
                parentKey: { type: string, description: Optional default parent key for Sub-task items. }
                subtasks:
                  deprecated: true
                  description: Legacy shorthand for Sub-task summaries.
                  type: array
                  items: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [Epic, Story, Task, Bug, Sub-task, user-story, subtask]
                      summary: { type: string }
                      description: { type: string }
                      parentKey: { type: string }
                      assignee: { type: string }
                      labels:
                        type: array
                        items: { type: string }
                    required: [type, summary]
              required: [approvalText, project]
      responses: { "200": { description: Created }, "403": { description: Approval required }, "401": { description: Unauthorized }, "503": { description: Jira CLI unavailable } }
components:
  securitySchemes:
    celineActionBearer:
      type: http
      scheme: bearer
      bearerFormat: CELINE_ACTION_TOKEN
      description: Store the real CELINE_ACTION_TOKEN only in Celine Server .env and the Custom GPT Action auth UI.
