openapi: 3.1.0
info:
  title: Celine Server Private GPT Action Gateway
  version: 0.1.0
  description: Private read/dry-run GPT Action gateway for Ken. Requires CELINE_ACTION_TOKEN. No write routes, app launching, Forge Key mutation, or command execution.
servers:
  - url: https://action-celine.thecreatorsmark.org
security:
  - celineActionBearer: []
paths:
  /gpt-action/private/health:
    get:
      operationId: getPrivateGatewayHealth
      summary: Get private gateway health.
      responses:
        "200":
          description: Private health response.
        "401":
          description: Unauthorized.
  /gpt-action/private/status:
    get:
      operationId: getPrivateGatewayStatus
      summary: Get private gateway status and capability summary.
      responses:
        "200":
          description: Private status response.
        "401":
          description: Unauthorized.
  /gpt-action/private/projects:
    get:
      operationId: getPrivateProjects
      summary: Get Celine project registry.
      responses:
        "200":
          description: Project registry response.
        "401":
          description: Unauthorized.
  /gpt-action/private/tools:
    get:
      operationId: getPrivateTools
      summary: Detect local development tools using fixed checks only.
      responses:
        "200":
          description: Tool detection response.
        "401":
          description: Unauthorized.
  /gpt-action/private/notifications:
    get:
      operationId: getPrivateNotificationStatus
      summary: Get notification status without secrets.
      responses:
        "200":
          description: Notification status response.
        "401":
          description: Unauthorized.
  /gpt-action/private/notifications/events/recent:
    get:
      operationId: getPrivateRecentNotificationEvents
      summary: Get recent notification events without secrets.
      responses:
        "200":
          description: Recent notification events response.
        "401":
          description: Unauthorized.
  /gpt-action/private/assistant/jobs/catalog:
    get:
      operationId: getPrivateAssistantJobCatalog
      summary: Get Assistant Bridge job catalog.
      responses:
        "200":
          description: Assistant job catalog response.
        "401":
          description: Unauthorized.
  /gpt-action/private/assistant/jobs/dry-run:
    post:
      operationId: dryRunPrivateAssistantJob
      summary: Dry-run an Assistant Bridge job. Does not execute jobs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jobType:
                  type: string
              required:
                - jobType
      responses:
        "200":
          description: Dry-run response.
        "400":
          description: Unknown or invalid job type.
        "401":
          description: Unauthorized.
  /gpt-action/private/obsidian/vault/list:
    post:
      operationId: listPrivateObsidianVaultPath
      summary: List an Obsidian vault folder.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                path:
                  type: string
                  default: /
      responses:
        "200":
          description: Vault list response.
        "401":
          description: Unauthorized.
  /gpt-action/private/obsidian/vault/read:
    post:
      operationId: readPrivateObsidianVaultNote
      summary: Read an Obsidian vault note by path.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                path:
                  type: string
              required:
                - path
      responses:
        "200":
          description: Vault note response.
        "401":
          description: Unauthorized.
  /gpt-action/private/obsidian/vault/search:
    post:
      operationId: searchPrivateObsidianVault
      summary: Search Obsidian vault notes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                contextLength:
                  type: number
                  default: 200
              required:
                - query
      responses:
        "200":
          description: Vault search response.
        "401":
          description: Unauthorized.
  /gpt-action/private/obsidian/vault/active:
    get:
      operationId: getPrivateObsidianActiveNote
      summary: Get active Obsidian note.
      responses:
        "200":
          description: Active note response.
        "401":
          description: Unauthorized.
  /gpt-action/private/scrivener/list:
    post:
      operationId: listPrivateScrivenerDocuments
      summary: List Scrivener binder documents.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                folder:
                  type: string
                  default: Manuscript
      responses:
        "200":
          description: Scrivener binder response.
        "401":
          description: Unauthorized.
  /gpt-action/private/scrivener/read:
    post:
      operationId: readPrivateScrivenerDocument
      summary: Read a Scrivener document by title or UUID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                titleOrUuid:
                  type: string
              required:
                - titleOrUuid
      responses:
        "200":
          description: Scrivener document response.
        "401":
          description: Unauthorized.
        "404":
          description: Document not found.
components:
  securitySchemes:
    celineActionBearer:
      type: http
      scheme: bearer
      bearerFormat: CELINE_ACTION_TOKEN
      description: Store the real CELINE_ACTION_TOKEN only in Celine Server .env and the Custom GPT Action auth UI.
