openapi: 3.1.0
info:
  title: Celine Server Private GPT Action Gateway (GitHub)
  version: 0.7.0
  description: Private GitHub gateway for Ken through local gh. Read, dry-run, and approved writes only. Requires CELINE_ACTION_TOKEN and approvalText exactly equal to Ken approved this GitHub write for writes.
servers:
  - url: https://action-celine.thecreatorsmark.org
security:
  - celineActionBearer: []
paths:
  /gpt-action/private/github:
    get:
      operationId: getPrivateGitHubStatus
      summary: Get GitHub CLI bridge status and guarded capabilities.
      responses: { "200": { description: OK }, "401": { description: Unauthorized } }
  /gpt-action/private/github/issues/list:
    post:
      operationId: listPrivateGitHubIssues
      summary: List GitHub issues in a repo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                repo: { type: string, description: OWNER/REPO }
                state: { type: string, enum: [open, closed, all], default: open }
                limit: { type: number, default: 30 }
                search: { type: string }
                labels:
                  type: array
                  items: { type: string }
              required: [repo]
      responses: { "200": { description: OK }, "401": { description: Unauthorized }, "503": { description: GitHub CLI unavailable } }
  /gpt-action/private/github/issues/read:
    post:
      operationId: readPrivateGitHubIssue
      summary: Read a GitHub issue by repo and number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                repo: { type: string, description: OWNER/REPO }
                number: { type: number }
              required: [repo, number]
      responses: { "200": { description: OK }, "401": { description: Unauthorized }, "503": { description: GitHub CLI unavailable } }
  /gpt-action/private/github/pulls/list:
    post:
      operationId: listPrivateGitHubPullRequests
      summary: List GitHub pull requests in a repo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                repo: { type: string, description: OWNER/REPO }
                state: { type: string, enum: [open, closed, merged, all], default: open }
                limit: { type: number, default: 30 }
                search: { type: string }
              required: [repo]
      responses: { "200": { description: OK }, "401": { description: Unauthorized }, "503": { description: GitHub CLI unavailable } }
  /gpt-action/private/github/pulls/read:
    post:
      operationId: readPrivateGitHubPullRequest
      summary: Read a GitHub pull request by repo and number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                repo: { type: string, description: OWNER/REPO }
                number: { type: number }
              required: [repo, number]
      responses: { "200": { description: OK }, "401": { description: Unauthorized }, "503": { description: GitHub CLI unavailable } }
  /gpt-action/private/github/issues/dry-run-create:
    post:
      operationId: dryRunPrivateCreateGitHubIssue
      summary: Preview GitHub issue creation. Does not create an issue.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                repo: { type: string, description: OWNER/REPO }
                title: { type: string }
                body: { type: string }
                labels:
                  type: array
                  items: { type: string }
                assignees:
                  type: array
                  items: { type: string }
                milestone: { type: string }
              required: [repo, title]
      responses: { "200": { description: Preview }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/github/issues/create:
    post:
      operationId: createPrivateGitHubIssueWithApproval
      summary: Create a GitHub issue only after Ken approves the preview. Requires approvalText exactly equal to "Ken approved this GitHub write".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvalText: { type: string }
                repo: { type: string, description: OWNER/REPO }
                title: { type: string }
                body: { type: string }
                labels:
                  type: array
                  items: { type: string }
                assignees:
                  type: array
                  items: { type: string }
                milestone: { type: string }
              required: [approvalText, repo, title]
      responses: { "200": { description: Created }, "403": { description: Approval required }, "401": { description: Unauthorized }, "503": { description: GitHub CLI unavailable } }
  /gpt-action/private/github/issues/dry-run-edit:
    post:
      operationId: dryRunPrivateEditGitHubIssue
      summary: Preview GitHub issue edits. Does not mutate GitHub.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                repo: { type: string, description: OWNER/REPO }
                number: { type: number }
                title: { type: string }
                body: { type: string }
                addLabels:
                  type: array
                  items: { type: string }
                removeLabels:
                  type: array
                  items: { type: string }
                addAssignees:
                  type: array
                  items: { type: string }
                removeAssignees:
                  type: array
                  items: { type: string }
                milestone: { type: string }
              required: [repo, number]
      responses: { "200": { description: Preview }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/github/issues/edit:
    post:
      operationId: editPrivateGitHubIssueWithApproval
      summary: Edit a GitHub issue only after Ken approves the preview. Requires approvalText exactly equal to "Ken approved this GitHub write".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvalText: { type: string }
                repo: { type: string, description: OWNER/REPO }
                number: { type: number }
                title: { type: string }
                body: { type: string }
                addLabels:
                  type: array
                  items: { type: string }
                removeLabels:
                  type: array
                  items: { type: string }
                addAssignees:
                  type: array
                  items: { type: string }
                removeAssignees:
                  type: array
                  items: { type: string }
                milestone: { type: string }
              required: [approvalText, repo, number]
      responses: { "200": { description: Edited }, "403": { description: Approval required }, "401": { description: Unauthorized }, "503": { description: GitHub CLI unavailable } }
  /gpt-action/private/github/issues/comments/dry-run:
    post:
      operationId: dryRunPrivateGitHubIssueComment
      summary: Preview a GitHub issue comment. Does not add the comment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                repo: { type: string, description: OWNER/REPO }
                number: { type: number }
                body: { type: string }
              required: [repo, number, body]
      responses: { "200": { description: Preview }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/github/issues/comments:
    post:
      operationId: createPrivateGitHubIssueCommentWithApproval
      summary: Add a GitHub issue comment only after Ken approves the preview. Requires approvalText exactly equal to "Ken approved this GitHub write".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvalText: { type: string }
                repo: { type: string, description: OWNER/REPO }
                number: { type: number }
                body: { type: string }
              required: [approvalText, repo, number, body]
      responses: { "200": { description: Comment added }, "403": { description: Approval required }, "401": { description: Unauthorized }, "503": { description: GitHub CLI unavailable } }
  /gpt-action/private/github/pulls/comments/dry-run:
    post:
      operationId: dryRunPrivateGitHubPullRequestComment
      summary: Preview a GitHub pull request comment. Does not add the comment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                repo: { type: string, description: OWNER/REPO }
                number: { type: number }
                body: { type: string }
              required: [repo, number, body]
      responses: { "200": { description: Preview }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/github/pulls/comments:
    post:
      operationId: createPrivateGitHubPullRequestCommentWithApproval
      summary: Add a GitHub pull request comment only after Ken approves the preview. Requires approvalText exactly equal to "Ken approved this GitHub write".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvalText: { type: string }
                repo: { type: string, description: OWNER/REPO }
                number: { type: number }
                body: { type: string }
              required: [approvalText, repo, number, body]
      responses: { "200": { description: Comment added }, "403": { description: Approval required }, "401": { description: Unauthorized }, "503": { description: GitHub CLI unavailable } }
components:
  securitySchemes:
    celineActionBearer:
      type: http
      scheme: bearer
      bearerFormat: CELINE_ACTION_TOKEN
      description: Store the real CELINE_ACTION_TOKEN only in Celine Server .env and the Custom GPT Action auth UI.
