openapi: 3.1.0
info:
  title: Celine Server Private GPT Action Gateway (Jira)
  version: 0.7.0
  description: Private Jira gateway for Ken through local acli. Read, dry-run, and approved writes only. Requires CELINE_ACTION_TOKEN and approvalText exactly equal to Ken approved this Jira write for writes.
servers:
  - url: https://action-celine.thecreatorsmark.org
security:
  - celineActionBearer: []
paths:
  /gpt-action/private/jira/issues/{key}:
    get:
      operationId: getPrivateJiraIssue
      summary: Read a Jira issue through the local Atlassian CLI.
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      responses: { "200": { description: OK }, "400": { description: Bad request }, "401": { description: Unauthorized }, "503": { description: Jira CLI not authenticated } }
  /gpt-action/private/jira/issues/{key}/children:
    get:
      operationId: getPrivateJiraIssueChildren
      summary: Read Jira child issues/subtasks through the local Atlassian CLI.
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      responses: { "200": { description: OK }, "400": { description: Bad request }, "401": { description: Unauthorized }, "503": { description: Jira CLI not authenticated } }
  /gpt-action/private/jira/subtasks/dry-run:
    post:
      operationId: dryRunPrivateJiraSubtasks
      summary: Validate and echo intended Jira subtask payload. Uses Jira CLI to validate the parent issue when authenticated. Does not create issues.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parentKey: { type: string }
                subtasks:
                  type: array
                  items: { type: string }
              required: [parentKey, subtasks]
      responses: { "200": { description: Dry-run payload }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/jira/issues/dry-run-create:
    post:
      operationId: dryRunPrivateCreateJiraIssue
      summary: Preview Jira issue creation. Does not create an issue.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project: { type: string }
                type: { type: string, default: Task }
                summary: { type: string }
                description: { type: string }
                parent: { type: string }
                assignee: { type: string }
                labels:
                  type: array
                  items: { type: string }
              required: [project, type, summary]
      responses: { "200": { description: Preview }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/jira/issues/create:
    post:
      operationId: createPrivateJiraIssueWithApproval
      summary: Create a Jira issue only after Ken approves the preview. Requires approvalText exactly equal to "Ken approved this Jira write".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvalText: { type: string }
                project: { type: string }
                type: { type: string, default: Task }
                summary: { type: string }
                description: { type: string }
                parent: { type: string }
                assignee: { type: string }
                labels:
                  type: array
                  items: { type: string }
              required: [approvalText, project, type, summary]
      responses: { "200": { description: Created }, "403": { description: Approval required }, "401": { description: Unauthorized }, "503": { description: Jira CLI unavailable } }
  /gpt-action/private/jira/issues/{key}/dry-run-edit:
    post:
      operationId: dryRunPrivateEditJiraIssue
      summary: Preview Jira issue edits. Does not mutate Jira.
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                summary: { type: string }
                description: { type: string }
                assignee: { type: string }
                type: { type: string }
                labels:
                  type: array
                  items: { type: string }
                removeAssignee: { type: boolean }
                removeLabels:
                  type: array
                  items: { type: string }
      responses: { "200": { description: Preview }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/jira/issues/{key}/edit:
    post:
      operationId: editPrivateJiraIssueWithApproval
      summary: Edit a Jira issue only after Ken approves the preview. Requires approvalText exactly equal to "Ken approved this Jira write".
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvalText: { type: string }
                summary: { type: string }
                description: { type: string }
                assignee: { type: string }
                type: { type: string }
                labels:
                  type: array
                  items: { type: string }
                removeAssignee: { type: boolean }
                removeLabels:
                  type: array
                  items: { type: string }
              required: [approvalText]
      responses: { "200": { description: Edited }, "403": { description: Approval required }, "401": { description: Unauthorized }, "503": { description: Jira CLI unavailable } }
  /gpt-action/private/jira/issues/{key}/comments/dry-run:
    post:
      operationId: dryRunPrivateJiraComment
      summary: Preview a Jira comment. Does not add the comment.
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body: { type: string }
              required: [body]
      responses: { "200": { description: Preview }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/jira/issues/{key}/comments:
    post:
      operationId: createPrivateJiraCommentWithApproval
      summary: Add a Jira comment only after Ken approves the preview. Requires approvalText exactly equal to "Ken approved this Jira write".
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvalText: { type: string }
                body: { type: string }
              required: [approvalText, body]
      responses: { "200": { description: Comment added }, "403": { description: Approval required }, "401": { description: Unauthorized }, "503": { description: Jira CLI unavailable } }
  /gpt-action/private/jira/subtasks/dry-run-create:
    post:
      operationId: dryRunPrivateCreateJiraTicketsBatch
      summary: Preview batch Jira ticket creation. Supports Epic, Story, Task, Bug, and Sub-task. Sub-task items require parentKey. Does not create tickets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project: { type: string }
                parentKey: { type: string, description: Optional default parent key for Sub-task items. }
                subtasks:
                  deprecated: true
                  description: Legacy shorthand for Sub-task summaries.
                  type: array
                  items: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [Epic, Story, Task, Bug, Sub-task, user-story, subtask]
                      summary: { type: string }
                      description: { type: string }
                      parentKey: { type: string }
                      assignee: { type: string }
                      labels:
                        type: array
                        items: { type: string }
                    required: [type, summary]
              required: [project]
      responses: { "200": { description: Preview }, "400": { description: Bad request }, "401": { description: Unauthorized } }
  /gpt-action/private/jira/subtasks/create:
    post:
      operationId: createPrivateJiraTicketsBatchWithApproval
      summary: Batch-create Jira tickets only after Ken approves the preview. Supports Epic, Story, Task, Bug, and Sub-task. Requires approvalText exactly equal to "Ken approved this Jira write".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approvalText: { type: string }
                project: { type: string }
                parentKey: { type: string, description: Optional default parent key for Sub-task items. }
                subtasks:
                  deprecated: true
                  description: Legacy shorthand for Sub-task summaries.
                  type: array
                  items: { type: string }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [Epic, Story, Task, Bug, Sub-task, user-story, subtask]
                      summary: { type: string }
                      description: { type: string }
                      parentKey: { type: string }
                      assignee: { type: string }
                      labels:
                        type: array
                        items: { type: string }
                    required: [type, summary]
              required: [approvalText, project]
      responses: { "200": { description: Created }, "403": { description: Approval required }, "401": { description: Unauthorized }, "503": { description: Jira CLI unavailable } }
components:
  securitySchemes:
    celineActionBearer:
      type: http
      scheme: bearer
      bearerFormat: CELINE_ACTION_TOKEN
      description: Store the real CELINE_ACTION_TOKEN only in Celine Server .env and the Custom GPT Action auth UI.
